.mnpWrapper, .mnpWrapper header, .mnpWrapper main, .mnpWrapper footer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	position: relative;
}

.mnpWrapper{
	background-image: url("https://firebasestorage.googleapis.com/v0/b/trello-clone-f948b.appspot.com/o/Internal%2FwhiteBackground.png?alt=media&token=6adf362e-565c-492d-bbf2-dbd41cb2e635");
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

.mnpWrapper header{
	width: 100%;
	text-align: center;
	height: 15%;
	font-size: 5rem;
	font-weight: bolder;
	position: relative;
	user-select: none;
}

.mnpWrapper main{
	width: 75%;
	height: 80%;
	text-align: center;
	font-size: 1.2rem;
}

.mnpWrapper footer{
	text-align: center;
	height: 10%;
}

.mnpSignIn{
	position: absolute;
	top: 5px;
	right: 5px;
	width: 40%;
	height: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mnpSignIn button{
	position: relative;
	width: 100%;
	height: 100%;
	font-weight: bold;
	background: #212121;
	border: 2px solid #000000;
	color: white;
	border-radius: 40px;
	margin: 0px 1%;
	cursor: pointer;
}

.mnpSignIn button:hover{
	background: #404040;
}

.mnpWrapper main span{
	width: 100%;
	min-height: 5%;
	margin: 1% auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}


.mnpWrapper main h1{
	font-weight: bolder;
	font-size: 4rem;
}

.mnpWrapper main span input{
	width: 65%;
	height: 100%;
	font-size: 1.2rem;
	font-weight: bold;
}

.mnpWrapper main span button{
	width: 30%;
	height: 100%;
	margin: 0px 1%;
	background: #212121;
	border: 2px solid #000000;
	border-radius: 40px;
	color: white;
	cursor: pointer;
	font-weight: bold;
}

.mnpWrapper main span button:hover{
	background: #404040;
}


.mnpWrapper main span span{
	font-size: 2rem;
}

@media (prefers-color-scheme: dark) {
	.mnpWrapper{
		background-image: url("https://firebasestorage.googleapis.com/v0/b/trello-clone-f948b.appspot.com/o/Internal%2FblackBackground.png?alt=media&token=bf16c247-381c-45f4-a35b-e5b8d83181bc");
	}

	.mnpWrapper, .mnpWrapper header, .mnpWrapper main, .mnpWrapper footer{
		color: white;
	}
}

@media only screen and (max-width: 450px) {

	.mnpWrapper header{
		padding-top: 5%;
		font-size: 3rem;
	}

	.mnpSignIn{
		width: 94%;
	}

	.mnpWrapper main{
		width: 100%;
	}

	.mnpWrapper main h1{
		font-size: 3rem;
	}

	.mnpWrapper main span span{
		font-size: 1.5rem;
		font-weight: bold;
	}

	.mnpWrapper main span{
		font-size: 0.8rem;
	}

	.mnpWrapper main span input{
		display: none;
	}


	.mnpWrapper main span button{
		width: 90%;
	}

	.mnpWrapper footer{
		font-size: 0.6rem;
		height: 10%;
	}
}


@media only screen and (max-width: 250px) {
	.mnpWrapper main h1{
		font-size: 2rem;
	}

	.mnpWrapper header{
		font-size: 2rem;
	}

	.mnpWrapper main span span{
		font-size: 1rem;
		font-weight: bold;
	}
}

@media only screen and (max-height: 450px) {
	.mnpWrapper header{
		height: 30%;
	}

	.mnpWrapper main span span{
		font-size: 0.8rem;
	}

	.mnpWrapper main span{
		width: 90%;
		font-size: 0.8rem;
	}


	.mnpWrapper main span input{
		width: 90%;
	}

	.mnpWrapper main{
		height: 55%;
	}

	.mnpWrapper footer{
		height: 10%;
	}
}
