.sinWrapper, .sinInput, .sinInput header,.sinInput main, .sinInput footer{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.sinWrapper{
	background-image: url("https://firebasestorage.googleapis.com/v0/b/trello-clone-f948b.appspot.com/o/whiteBackground.png?alt=media&token=a23b38cd-ee20-4b4e-86d8-2b84aff67fc4");
}

.sinInput{
	width: 30%;
	height: 50%;
}

.sinInput header{
	height: 30%;
}	


.sinInput header h1{
	font-size: 5rem;
	font-weight: bold;
	margin: 0px;
}

.sinInput header h2{
	font-size: 2rem;
	font-weight: bold;
	margin: 0px;
}

.sinInput main{
	width: 80%;
	height: 60%;
}

.sinInput main input{
	width: 90%;
	height: 10%;
	margin: 1% auto;
	font-size: 1.2rem;
	font-weight: bold;
}

.sinInput footer{
	width: 80%;
	height: 10%;
}

.sinInput footer input{
	width: 100%;
	height: 100%;
	font-weight: bold;
	background: #212121;
	font-size: 1.2rem;
	border: 2px solid #000000;
	color: white;
	border-radius: 40px;
	margin: 0px 1%;
	cursor: pointer;
}

.sinInput footer input:hover{
	background: #404040;
}

@media (prefers-color-scheme: dark) {
	.sinWrapper{
		color: white;
		background-image: url("https://firebasestorage.googleapis.com/v0/b/trello-clone-f948b.appspot.com/o/blackBackground.png?alt=media&token=86c6bdef-4e0b-45e1-a2e0-26152772eceb");
	}
}